<!DOCTYPE html>
<html lang="en">
<head>
  <title>Team Pikachu</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="icon" href="https://media.tenor.com/ihqN6a3iiYEAAAAd/pikachu-shocked-face-stunned.gif" type="image/png">
</head>

<style>

    .navbar .navbar-nav .nav-link {
    	border-radius: 20px;
    	margin-right: 10px;
    	padding: 10px 20px;
  	}

  .navbar .navbar-nav .nav-link {
    background-color: rgb(55,142,255);
    border-color: rgb(55,142,255);
    color: white;
  }
  
  .navbar .navbar-nav .nav-link:hover {
    background-color: #00bfff;
    border-color: #00bfff;
  }

  .navbar .navbar-brand {
    font-weight: bold;
    font-size: 30px;
  }

</style>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index">
  <img src="https://media.tenor.com/ihqN6a3iiYEAAAAd/pikachu-shocked-face-stunned.gif" height="50">
  Team Pikachu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNav" class="collapse navbar-collapse">  
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index"><span style ="color: white;">Home</span> <span class="sr-only">(current)</span></a>       
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about_page">About</a>
      </li>   
      <li class="nav-item">
        <a class="nav-link" href="#">Waiting Games</a>
      </li>  
    </ul> 
  </div>
</nav>

<div class="container">
  <h1>About This Website and Team Pikachu</h1>
  <p>
    This website is Team Pikachu's CS Special Topics group project. The purpose of the website is to give the user a list of all the ingredients of a recipe and its price. 
    Our team consists of four members: Andrew Nguyen (Scrum Master), Steve Ling (UI/ UX), Minghan Sun (Product Manager), and Derrick Xian (Quality Assurance). 
  </p>

  <div class="row justify-content-center">
    <div class="col-md-3 col-sm-6">
      <img src="https://live.staticflickr.com/65535/52920815502_0f832ea4d9_m.jpg" class="img-fluid rounded" alt="Andrew">
    </div>
    <div class="col-md-3 col-sm-6">
      <img src="https://live.staticflickr.com/65535/52920816447_65b07d2a3f_m.jpg" class="img-fluid rounded" alt="Steve">
    </div>
    <div class="col-md-3 col-sm-6">
      <img src="https://live.staticflickr.com/65535/52921557454_edc88b28d1_m.jpg" class="img-fluid rounded" alt="Minghan">
    </div>
    <div class="col-md-3 col-sm-6">
      <img src="https://live.staticflickr.com/65535/52920816092_793d5cd026_m.jpg" class="img-fluid rounded" alt="Derrick">
    </div>
  </div>


</body>
</html>

