<!DOCTYPE html> 
<html lang="en">





<head>
  <title>Team Pikachu</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">    
  <link rel="icon" href="https://media.tenor.com/ihqN6a3iiYEAAAAd/pikachu-shocked-face-stunned.gif" type="image/png">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index">Team Pikachu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbar-nav" class="collapse navbar-collapse" >  
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>       
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about_page">About</a>
      </li>   
       <li class="nav-item">
        <a class="nav-link" href="sprintprogress"> Sprint progress </a>
      </li>  
      
    </ul> 

  </div>
</nav>   
<h1>
About This Website and Team Pikachu
</h1>
<p>
This website is team Pikachu's CS Special Topics group project. The purpose of the website is to give the user a list of all the ingredients of a recipe and its price. 
Our team consists of four members, Andrew Nguyen, Steve Ling, Minghan Sun, and Derrick Xian. 
</p>
  
<img src="https://food-ubc.b-cdn.net/wp-content/uploads/2020/02/Save-Money-On-Groceries_UBC-Food-Services.jpg"
     width="500"
     height="500" />

</body>  
</html>
