<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team Pikachu</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="icon" href="https://media.tenor.com/ihqN6a3iiYEAAAAd/pikachu-shocked-face-stunned.gif" type="image/png">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
	  <a class="navbar-brand" href="index">
	  <img src="https://media.tenor.com/ihqN6a3iiYEAAAAd/pikachu-shocked-face-stunned.gif" height="50">
	  Team Pikachu</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
	  </button>
	  <div id="navbarNav" class="collapse navbar-collapse">
		  <ul class="navbar-nav ml-auto">
			  <li class="nav-item">
				  <a class="nav-link" href="index">Home</a>
			  </li>
			  <li class="nav-item">
				  <a class="nav-link" href="about_page">About</a>
			  </li>
			  <li class="nav-item">
				  <a class="nav-link" href="waiting_games">Waiting Games</a>
			  </li>
		  </ul>
	  </div>
  </div>
</nav>

<div class="container mt-5">
  
	<h1 class="display-4">Enjoy Our Waiting Games</h1>
	
	<div class="button-container">
          <a class="button1" href="/waiting_games/tetris" target="_blank">
          tetris
          </a>
          <a class="button2" href="/waiting_games/tennis" target="_blank">
          tennis
          </a>
          <a class="button3" href="/waiting_games/blocks" target="_blank">
          blocks  
          </a>

        </div>
  
</div>

<style>

	.navbar .navbar-nav .nav-link {
   	border-radius: 20px;
   	margin-right: 10px;
   	padding: 10px 20px;
	}

	.navbar .navbar-nav .nav-link {
    background-color: rgb(55,142,255);
    border-color: rgb(55,142,255);
    color: white;
  }
  
  .navbar .navbar-nav .nav-link:hover {
    background-color: #00bfff;
    border-color: #00bfff;
  }

  .navbar .navbar-brand {
    font-weight: bold;
    font-size: 30px;
  }

  .button-container {
    margin-top: 30px;
    display: flex;
    gap: 20px;
  }

  .button1, .button2, .button3 {
  	display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    height: 70px;
    width: 180px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(55,142,255);
    color: white;
    border-color: rgb(55,142,255);
  }

</style>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>   


</body>
</html>